.color-fondo{
	background-color: #3DB2FF ;
}
.Color-Part3{
	background-color: #28FFBF ;

}

.botonxd{
	background-color: #1A5276;
	height: 500;
	width: 250;
}

.colorsitoxd{
	background-color: white;
	align-content: right;
}