<!DOCTYPE html>
<html lang="en">
<head>
    <head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>tablas xd</title>
    </head>


<body>    <!-- service_area_start  -->
        <nav class="navbar navbar-light bg-light">

          <div class="container-fluid">
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="ingrese id de empleado" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
        </nav>
    <div>
        <div>
        </div>
    </div>
    <br>
    <br>
    <h1 align="centrer">tabla empleados</h1>
    <br>
    <br>
  <table class="table">
      {%if allemployee%}
  <thead>
    <tr>
      <th scope="col">nombre</th>
      <th scope="col">apellido</th>
      <th scope="col">fecha de nacimiento</th>
      <th scope="col">salario</th>
      <th scope="col">telefono</th>
      <th scope="col">Direccion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        {%for arraydemployee in allemployee%}
        <td>{{arraydemployee.name}}</td>
        <td>{{arraydemployee.lastname}}</td>
        <td>{{arraydemployee.date_bo}}</td>
        <td>{{arraydemployee.Salary}}</td>
        <td>{{arraydemployee.telefono}}</td>
        <td>{{arraydemployee.direcciono}}</td>
    </tr>
    {%endfor%}
    {%else%}
    <br><h1>no ai na</h1><br/>
    {%endif%}
  </tbody>
</table>
                <div>
                    <div class="btn-group">
                    <a href="{%url 'webprogra:index'%}">ingresar</a>
                    </div>
                </div>


</body>
<script src="https://kit.fontawesome.com/1b30a6d17c.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</html>